<div class="container pt-5">
  <div class="btn btn-dark" (click)="onRegister()">Registracija</div>
    <h3 class="mt-5">NAUČNI RADOVI</h3>
    <div class="card mt-5 mb-5" *ngFor="let r of radovi">
        <h5 class="card-header">{{r.author}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{r.title}}</h5>
          <p class="card-text">{{r.abstract}}</p>
          <h4><strong>{{r.price}}</strong> USD</h4>
          <button class="btn btn-primary mt-4" (click)="onBuy(r)">Kupi</button>
        </div>
      </div>

</div>