<div class="container pt-5" *ngIf="activeOrder">
    <h4 class="mb-4">Vaša porudžbina:</h4>
    <strong class="mb-1">{{ activeOrder.title }}</strong>
    <br>
    Originalna cena: <strong>{{ activeOrder.amount }}</strong> USD
    <br>
    <span *ngIf="btcPrice">
        Konvertovana cena: <strong>{{ btcPrice }}</strong> BTC
    </span>
    <br>

    <div class="row">
        <div class="col-5">
            <label for="description" class="mt-4">Opis transakcije (opciono)</label>
            <input type="text" id="description" [(ngModel)] = 'desc' class="form-control" name="description" placeholder="Opis...">
        </div>
    </div>

    
    <button class="btn btn-primary mt-5" (click)="onContinue()" *ngIf="activeOrder && btcPrice && !transaction"><i class="fa fa-chevron-right"></i>  Generiši adresu za plaćanje</button>

    <div *ngIf="transaction" class="mt-5">
        <div>
            <div *ngIf="loadingMessage">
                <span class="loading">
                    Obrada u toku...
                </span>
                <img  class="spinner" src="../../assets/loading.gif" alt="">
            </div>
            <div *ngIf="transaction.amountDifference < 0">
                Preostalo za uplatu <strong>{{math.abs(transaction.amountDifference)}}</strong> BTC
            </div>
            <div *ngIf="transaction.amountDifference == 0">
                Sredstva su prihvaćena, čeka se validacija bloka.
            </div>

            <div *ngIf="redirectMessage">
                <span class="loading">
                    Vaša transakcija je uspešna!
                </span>
            </div>

            <div *ngIf="errorMessage">
                <span class="loading">
                    {{ errorMessage }}
                </span>
                <div>
                    <button class="btn btn-primary mt-3" (click)="goHome()">Povratak na početnu stranu</button>
                </div>
            </div>

            <div class="status mt-4">
                Status transakcije: <span class="badge badge-primary">{{transaction.status}}</span>
            </div>
        </div>
    </div>

</div>
