button:disabled {
    opacity: 0.5;
}

.spinner {
    height: 40px;
    width: auto;
}

.loading {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}

.status {
    font-size: 15px;
}

.badge {
    text-transform: capitalize;
}