.point {
  cursor: default;
}

.wait {
  cursor: wait;
}

.container {
  width: 55%;
}

.polja {
  margin-top: 15px;
}

.polja2 {
  margin-top: 15px;
  float: right;
}

input {
  width: 100%;
}

.detalji {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error {
  color: red;
}