<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <form [formGroup]="infoForm">
        <span><i class="fa fa-user fa-2x" aria-hidden="true"></i> <span id=login>Payment information</span>
        <hr>
        </span>
        <div class="form-group">
          <label>PAN</label>
          <input type="text" required class="form-control" formControlName="pan">
        </div>
        <div class="form-group">
          <label>Service code</label>
          <input type="text"  required class="form-control" formControlName="serviceCode">
        </div>
        <div class="form-group">
            <label>Card holder name</label>
            <input type="input"  required class="form-control" formControlName="cardholderName">
          </div>
          <div class="form-group">
            <label>Expiration date </label>
            <input type="date"  required class="form-control" formControlName="expirationDate">
          </div>
         
        <button type="submit" class="btn btn-success" (click)="onValidate()" [hidden]="paymentConfirmation" style="margin-right: 10px">Pay</button>
        <button type="submit" class="btn btn-success" (click)="onPay()" [hidden]="!paymentConfirmation">Confirm payment</button>
      </form>
    </div>
  </div>