<h5>Registracija New Test servisa</h5>


<form [formGroup]="ntsRegistrationForm" (ngSubmit)="onSubmit()" *ngIf="sellerId">
<div class="form-group mt-4">
    <label for="someToken">Some token</label>
    <input
        type="text"
        class="form-control"
        placeholder="Unesite token za pristup nešto"
        formControlName="someToken"
    />
</div>
<div class="form-group mt-4">
    <label for="email">Lozinka *</label>
    <input
        type="password"
        class="form-control"
        placeholder="Unesite lozinku koju ste izabrali prilikom prvog koraka registracije"
        formControlName="password"
    />
</div>
<button class="btn btn-success mt-5" type="submit">
    Registruj servis
</button>
</form>