
/* BASIC */
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100%;
  }
  /* STRUCTURE */
  
  .wrapper {
    background-image: url("https://www.ifc.org/wps/wcm/connect/999f0f11-f458-4150-8132-61a6a4eda932/Finance-1_1920x750.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-999f0f11-f458-4150-8132-61a6a4eda932-mjc-Vz6"); 
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    padding: 12px;
  }
  

#login{
  margin-left: 10px;
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase
}

.error {
  color: red;
}

input{
    border: 1px solid gray;
}